{% extends 'base.html' %}

{% block content %}
<article style="max-width: 500px; margin: 3rem auto;">
    <header>
        <h2 style="text-align: center; margin-bottom: 0;">Recuperare Cont 🔑</h2>
        <p style="text-align: center; color: gray;">Introdu e-mailul pentru a primi o parolă nouă</p>
    </header>

    <form action="{{ url_for('recuperare_parola') }}" method="POST">
        <label for="email">
            Adresa de E-mail
            <input type="email" id="email" name="email" placeholder="nume@exemplu.com" required>
        </label>

        <button type="submit" class="secondary" style="margin-top: 1rem;">Trimite Parolă Nouă</button>
    </form>
    
    <footer style="text-align: center; margin-top: 1rem;">
        <a href="{{ url_for('login') }}" style="font-size: 14px;">Înapoi la Autentificare</a>
    </footer>
</article>
{% endblock %}